<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New CampGround</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Enter title</label>
                <input type="text" class="form-control" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Enter location</label>
                <input type="text" class="form-control" id="location" name="campground[location]">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Enter CampGround Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">₹</span>
                    <input type="text" class="form-control" placeholder="0.00" name="campground[price]" aria-label="price" aria-describedby="">
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Enter image url</label>
                <input type="text" class="form-control" id="image" name="campground[image]">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Enter description</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]"></textarea>
            </div>


            <button class="btn btn-success">Add camp</button>
        </form>
    
    <a href="/campgrounds">All campgrounds</a>s


    </div>
</div>