<% layout('layouts/boilerplate') %>
    <a href="/campgrounds">All campgrounds</a>
    <h1>camp ground</h1>
    <ul>
        <li><%= campground.title %></li>
        <li><%= campground.location %></li>
    </ul>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
    <form action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="post">
        <BUTTOn>DETETE</BUTTOn>
    </form>
